@font-face {
    font-family: 'Family Tree Regular';
    src: local('Family Tree Regular'), url('../containers/font/family-tree.woff') format('woff');
    }

h1 {
    font-family: "Family Tree Regular";
    font-size: 4rem;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 5px;
    color: rgb(26, 81, 15);
}